.spinner {
    width: 60px;
    height: 60px;
    border: 10px solid transparent;
    border-top: 10px solid #180f7a; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}